.projectsBlock {
    height: 100vh;
    background-color: #9E2A2B;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    background-color: #F0C977;
}