.previewBtn {
    display: block;
    width: 180px;
    height: 44px;
    color: #fff;
    text-align: center;

    background: rgba(38, 172, 202, .6);

    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;

    border-radius: 5px;
    margin: 0 auto;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    text-transform: uppercase;
    &:hover {
        background: rgba(38, 172, 202, .9);
    }
}
