.btn {
    position: relative;
}
.previewBtn {
    display: block;
    width: 180px;
    height: 44px;

    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;

    background: rgba(38, 172, 202, .6);

    font-family: 'Oswald-Bold', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;

    border-radius: 5px;
    margin: 0 auto;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    text-transform: uppercase;
    a {
        color: #fff;
    }
    &:hover {
        background: rgba(38, 172, 202, .9);
    }
}
.disabled {
    background-color: #191a1b;
    cursor: initial;
    &:hover {
        background: #191a1b;
    }
}
.btnLoader{
    position: absolute;
    //background-color: #e63946;
    width: 30px;
    height: 30px;
    top: 7px;
    right: 1px;
    img {
        width: 100%;
    }
}
