.skillsBlock {
    height: 100vh;
    background-color: #99A88C;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    background-color: #F0C977;
}
@media (max-width: 576px) {
    .skills {
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .skills {
        justify-content: space-around;
    }
}