.mainBlock {
    height: 100vh;
    background-color: #9E2A2B;
}

.text {
    width: 300px;
    background-color: #FFF3B0;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #FFF3B0;
}

@media (max-width: 768px) {
    .headerWrapBlocks {
        justify-content: center;
    }
}