@import "../assets/variables/variables";

.mainWrapper {
  height: 100vh;
  background-image: url("../assets/image/airPlaneBGimage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
  }

  .main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    .mainContent {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
}

.text {
  max-width: 350px;

  span {
    display: block;
    text-align: left;
    color: $customBlue;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Oswald-Regular', sans-serif;
  }

  h1 {
    text-align: left;
    margin: 15px 0;
    font-size: 30px;
  }

  h1, h1 span {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald-Bold', sans-serif;
    line-height: initial;
  }

  h1 span {
    font-size: 50px;
  }

  .speciality {
    vertical-align: bottom;
    color: $customBlue;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Oswald-Regular', sans-serif;
    text-align: left;

    span {
      font-size: 25px;
    }
  }
}

.photo {
  display: block;
  height: 346px;
  text-align: right; // avatar to right
  .responsiveImg {
    max-width: 100%;
    width: 300px;
    height: 100%;
  }
}

@media (max-width: 830px) {

  .mainWrapper .main .mainContent {
    flex-direction: column;
    justify-content: space-around;
  }
  .text {
    max-width: 300px;
    width: 100%;

    h1 span {
      font-size: 35px;
    }

    .speciality {
      font-size: 20px;
    }
  }
}