@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("../src/assets/fonts/raleway/static/Raleway-Regular.ttf");
    src: url("../src/assets/fonts/raleway/static/Raleway-Bold.ttf");
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url("../src/assets/fonts/oswald/static/Oswald-Regular.ttf");
    src: url("../src/assets/fonts/oswald/static/Oswald-SemiBold.ttf");
    src: url("../src/assets/fonts/oswald/static/Oswald-Medium.ttf");
    src: url("../src/assets/fonts/oswald/static/Oswald-Bold.ttf");
}

/*rgb(14, 15, 16);*/
body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: #0e0f10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    width: 100%;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
